<div style="display: flex; justify-content: space-between; align-items: baseline">
  <h1 mat-dialog-title>{{isFirstStep ? 'Create a new Patternlanguage' : 'Define the section'}}</h1>
  <button mat-flat-button (click)="close()" tabindex="-1">
    <i class="material-icons">close</i>
  </button>
</div>
<div mat-dialog-content [formGroup]="patternLanguageForm">
<div fxLayout="column" fxLayoutAlign="space-around center">
  <mat-card fxLayout="column" fxLayoutAlign="space-around center"
            style="margin: 10px;" *ngIf="isFirstStep; else templateName">
    <mat-form-field appearance="outline" style="width: 24em;" [floatLabel]="'always'">
      <mat-label>Pattern language name</mat-label>
      <input matInput formControlName="name" placeholder="Enter the name of your Pattern Language">
      <mat-error *ngIf="saveRequested && name?.hasError('required')">Dies ist ein Pflichtfeld.</mat-error>
      <mat-error *ngIf="saveRequested && name?.hasError('pattern')">Bitte nur alphanumerische Zeichen, _ und
        Leerzeichen verwenden.
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-form-field class="full-width" appearance="outline" style="width: 24em" [floatLabel]="'always'">
        <mat-label>Icon URL</mat-label>
        <input matInput formControlName="iconUrl" placeholder="Enter URL of your icon" type="url">
        <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="iconPreviewVisible">
          <span class="label-preview">Icon-Preview: </span>
          <div mat-card-avatar #iconPreview [ngStyle]="{ 'background-image': 'url(' + iconUrl?.value + ')'}"
               class="example-header-image"></div>
        </div>
        <mat-error *ngIf="saveRequested && iconUrl?.hasError('required')">Dies ist ein Pflichtfeld.</mat-error>
        <mat-error *ngIf="saveRequested && iconUrl?.hasError('pattern')">Bitte eine gültige URL angeben.
        </mat-error>
      </mat-form-field>

    </div>
    <mat-form-field appearance="outline" style="width: 24em" [floatLabel]="'always'">
      <mat-label>Sections</mat-label>
      <mat-chip-list #chipList>
        <div fxLayout="column" fxLayoutAlign="space-around start">
          <mat-chip fxLayout="row" fxLayoutAlign="initial"
                    *ngFor="let section of sections"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(section)">
            {{section}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </div>
      </mat-chip-list>
      <input
        placeholder="Add section (press enter to create custom section)"
        fxFill
          #sectionInput
          [matAutocomplete]="auto"
          [formControl]="sectionCtrl"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let section of filteredSections | async" [value]="section">
          {{section}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card>

</div>
</div>

<div mat-dialog-actions>

  <button mat-raised-button color="primary" (click)="save()"><i
    class="material-icons">save</i> Save
  </button>
  <button mat-raised-button color="primary" (click)="nextStep()"><i
    class="material-icons"><i className="material-icons">arrow_forward</i></i>
  </button>
</div>

<ng-template #templateName>
  <mat-form-field appearance="outline" style="width: 24em" [floatLabel]="'always'" [formGroup]="myGroup">
    <mat-label>Sections</mat-label>
    <mat-chip-list #chipList>
      <div fxLayout="column" fxLayoutAlign="space-around start">
        <div fxLayout="row" *ngFor="let section of sections, let i = index" fxLayoutAlign="start center">
          <span fxFlexAlign="center">{{i+1}}.</span>
          <mat-chip fxLayout="row" fxLayoutAlign="initial"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(section)">
            {{section}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <mat-form-field>
            <input type="text" appearance="fill" matInput
                   formControlName="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </mat-chip-list>
  </mat-form-field>
</ng-template>
