.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;

}

.icon-wrapper {
  margin-top: -1.34375em !important;
}

.label-preview {
  color: grey;
}

.mat-chip {
  height: fit-content;
}


