<div style="display: flex; justify-content: space-between; align-items: baseline">
  <h1 mat-dialog-title>Create a new Patternlanguage</h1>
  <button mat-flat-button (click)="close()" tabindex="-1">
    <i class="material-icons">close</i>
  </button>
</div>
<div mat-dialog-content>
<div fxLayout="column" fxLayoutAlign="space-around center">
  <mat-card fxLayout="column" fxLayoutAlign="space-around center">
    <mat-form-field appearance="outline" style="    width: 24em;" [floatLabel]="'always'">
      <mat-label>Pattern language name</mat-label>
      <input matInput placeholder="Enter the name of your Pattern Language">
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-form-field class="full-width" appearance="outline" style="width: 24em" [floatLabel]="'always'">
        <mat-label>Icon URL</mat-label>
        <input matInput placeholder="Enter URL of your icon" type="url">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <span class="label-preview">Icon-Preview: </span>
          <div mat-card-avatar class="example-header-image"></div>
        </div>


      </mat-form-field>

    </div>
    <mat-form-field appearance="outline" style="width: 24em" [floatLabel]="'always'">
      <mat-label>Sections</mat-label>
      <mat-chip-list #chipList>
        <div fxLayout="column" fxLayoutAlign="space-around start">
          <mat-chip fxLayout="row" fxLayoutAlign="initial"
                    *ngFor="let section of sections"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(section)">
            {{section}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </div>
      </mat-chip-list>
      <input
        placeholder="Add section (press enter to create custom section)"
        fxFill
          #sectionInput
          [matAutocomplete]="auto"
          [formControl]="sectionCtrl"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let section of filteredSections | async" [value]="section">
          {{section}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card>
</div>
</div>

<div mat-dialog-actions>

  <button mat-raised-button color="primary" (click)="close()"><i
    class="material-icons">save</i> Save
  </button>
</div>
