<div class="row p-2 m-0 align-items-center">
  <div class="col">
    <!--    <navigation-breadcrumb [links]="links"></navigation-breadcrumb>-->
  </div>

</div>
<div class="p-4">
  <mat-card class="m-2">
    <div class="mx-3 mb-2">
      <input type="checkbox" [(ngModel)]="config.features.designModel" id="designModel" name="designModel"
             [checked]="config.features.designModel" (change)="toggleFeature(UiFeatures.DESIGN_MODEL, $event)">
      <label for="designModel">Design Model</label>
      <br>
      <input type="checkbox" [(ngModel)]="config.features.issue"
             id="issue" name="issue"
             [checked]="config.features.issue"
             (change)="toggleFeature(UiFeatures.ISSUE, $event)">
      <label for="issue">Issue</label>
      <br>
      <input type="checkbox" [(ngModel)]="config.features.patternCandidate" id="patternCandidate"
             name="patternCandidate"
             [checked]="config.features.patternCandidate" (change)="toggleFeature(UiFeatures.PATTERNCANDIDATE, $event)">
      <label for="patternCandidate">Pattern Candidate</label>
      <br>
      <input type="checkbox" [(ngModel)]="config.features.patternViews" id="patternViews" name="patternViews"
             [checked]="config.features.patternViews" (change)="toggleFeature(UiFeatures.PATTERNVIEWS, $event)">
      <label for="patternViews">QProv</label>
    </div>
  </mat-card>
</div>
