<mat-toolbar style="margin-bottom: 10px">
    <button mat-raised-button color="primary" (click)="exit()" aria-label="Back"><i class="material-icons">keyboard_backspace</i></button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="settings()" [disabled]="settingsDisabled" aria-label="Issue settings"><i class="material-icons">settings</i></button>
</mat-toolbar>
<div class="container-double container">
    <div #issueView class="left scrollable-double">
        <mat-card *ngIf="issue" style="min-height: auto">
            <form (ngSubmit)="submit()" #issueForm="ngForm">
                <mat-form-field appearance="standard">
                    <mat-label for="name">Name</mat-label>
                    <input matInput [maxlength]="80" [disabled]="disabled" type="text"
                        class="form-control" id="name" required [(ngModel)]="issue.name" name="name" #name="ngModel">
                    <mat-hint *ngIf="!issue.name">Insert a name</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label for="description">Description</mat-label>
                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="10"
                        [disabled]="disabled" placeholder="Placeholder" type="text" class="form-control"
                        id="description" required [(ngModel)]="issue.description" name="description"
                        #description="ngModel">
            </textarea>
                    <mat-hint *ngIf="!issue.description">Please insert a description</mat-hint>
                </mat-form-field>

                <pp-author-picker class="detail-component" [authors]="issue.authors" [disabled]="disabled"
                    (updateAuthorEvent)="updateAuthor($event)" (deleteAuthorEvent)="deleteAuthor($event)">
                </pp-author-picker>

                <pp-pattern-language-picker class="detail-component" *ngIf="candidate" [disabled]="!candidate"
                    [patternLanguageSelected]="patternLanguageSelected.patternLanguageId"
                    (patternLanguageSelectedChange)="patternLanguageSelectedChange($event)">
                </pp-pattern-language-picker>

                <pp-rating [disabled]="!issue.id" [upVotes]="issue.upVotes" [downVotes]="issue.downVotes"
                    [total]="issue.rating" (ratingEvent)="updateRating($event)"></pp-rating>

                <!-- DETAIL BUTTONS-->
                <div class="detail-component buttons" *ngIf="disabled && !candidate">
                    <button mat-flat-button type="button" color="accent" (click)="edit()"
                        [disabled]="!(p.isGroubMember(issue.authors, 'ISSUE_EDIT_ALL') | async)">Edit</button>
                    <button mat-flat-button type="button" color="warn" (click)="delete()"
                        [disabled]="!(p.isMaintainerOrOwner(issue.authors, 'ISSUE_DELETE_ALL') | async)">Delete</button>
                    <button mat-flat-button type="button" color="accent" (click)="selectLanguage()"
                        [disabled]="!(p.isMaintainerOrOwner(issue.authors) | async) || treshold">To Candidate</button>
                </div>

                <!-- EDIT BUTTONS-->
                <div class="detail-component buttons" *ngIf="!disabled && !candidate">
                    <button mat-flat-button type="submit" color="accent"
                        [disabled]="!issueForm.form.valid">Save</button>
                    <button mat-flat-button type="button" color="warn" (click)="cancel()">Cancel</button>
                </div>

                <!-- CANDIDATE BUTTONS-->
                <div class="detail-component buttons" *ngIf="candidate">
                    <button mat-flat-button type="button" color="accent" [disabled]="!patternLanguageSelected"
                        (click)="createCandidate()">Create Candidate</button>
                    <button mat-flat-button type="button" color="warn" (click)="cancelCandidate()">Cancel</button>
                </div>
            </form>
        </mat-card>
        <pp-evidence-list [evidences]="issue?.evidences" [disabled]="issue?.id == null" (createEvidenceEvent)="createEvidence($event)"
            (updateEvidenceEvent)="updateEvidence($event)" (deleteEvidenceEvent)="deleteEvidence($event)"
            (ratingEvent)="updateRatingEvidence($event)">
        </pp-evidence-list>
    </div>
    <pp-comment-list *ngIf="issueHeight" class="right" [style.height.px]="issueHeight" [data]="issue?.comments"
        [disabled]="issue?.id == null" (createCommentEvent)="createComment($event)" (updateCommentEvent)="updateComment($event)"
        (deleteCommentEvent)="deleteComment($event)" (ratingEvent)="updateRatingComment($event)">
    </pp-comment-list>
</div>
