<div class="info" *ngIf="info; else loading">
  <div class="headline">
    <h1>{{info.name}}</h1>
    <p>{{info.group}}</p>
  </div>

  <div class="description">
    <p>{{info.summary}}</p>
  </div>

  <div class="referenced"
    *ngFor="let group of info.languageRelations">

    <!-- navigate to group.languageId somehow... -->
    <h1>{{group.languageName}}</h1>

    <!-- Outgoing Related Nodes -->
    <div class="related">
      <div class="item"
        *ngFor="let o of outgoing(group.relations)">
        <!-- Arrow (->) -->
        <i class="fa fa-long-arrow-right"></i>
        <!-- Caption -->
        <span
          (click)="onClick($event, o.patternId)"
          (mouseenter)="onMouseEnter($event, o.patternId)"
          (mouseleave)="onMouseLeave($event, o.patternId)">{{o.label}}
        </span>

        <i class="info-icon fa fa-info-circle"
          *ngIf="o.hasDescription"
          (click)="onInfoClick($event, o);"></i>
      </div>
    </div>

    <!-- Incoming Related Nodes -->
    <div class="related">
      <div class="item"
        *ngFor="let i of incoming(group.relations)">
        <!-- Arrow (<-) -->
        <i class="fa fa-long-arrow-left"></i>
        <!-- Caption -->
        <span
          (click)="onClick($event, i.patternId)"
          (mouseenter)="onMouseEnter($event, i.patternId)"
          (mouseleave)="onMouseLeave($event, i.patternId)">{{i.label}}
        </span>

        <i class="info-icon fa fa-info-circle"
          *ngIf="i.hasDescription"
          (click)="onInfoClick($event, i)"></i>
      </div>
    </div>
  </div>

</div>
<ng-template #loading>
  <div class="info">
    Loading Pattern Info...
  </div>
</ng-template>
