<div *ngIf="noTechnologyFound">
  Sorry, there are no technologies supporting your design model.
</div>

<ng-container *ngIf="!noTechnologyFound">
  <h3>Technology selection</h3>

  <mat-expansion-panel [expanded]="showTechSelection" (opened)="showTechSelection = true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Technology selection
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let opt of data.options | async">
      <mat-checkbox [(ngModel)]="selection[opt]">{{opt}}</mat-checkbox>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="!showTechSelection" (opened)="showTechSelection = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        User query
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="User query"/>
    </mat-form-field>
  </mat-expansion-panel>

  <pre>{{selection | json}}</pre>

  <button mat-raised-button color="primary" (click)="aggregate()">Aggregate</button>
</ng-container>
