<mat-toolbar>
  <pp-action-button-bar [goBackButton]="false" [addButtonText]="'Add Design Model'"
                        (addClicked)="addDesignModel()"></pp-action-button-bar>
</mat-toolbar>


<div class="container">
  <!--TODO use designModels instead of patternViews -->
  <mat-card *ngFor="let designModel of designModelResponse?._embedded?.patternViews"
            (click)="navigateToModel(designModel.id)" class="landing-card">
    <mat-card-header>
      <img mat-card-avatar [src]="designModel?.logo || '//via.placeholder.com/50x50'" alt="" />

      <!-- TODO move inline css -> scss file -->
      <mat-card-title style="width: 10rem; word-break: break-word;">
        {{designModel.name}}
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="designModel?.logo || '//via.placeholder.com/200x300'" alt="" />
    <mat-card-actions>
      <div style="text-align: center">
        <button matBadge="{{designModel?.patternCount || 'TODO'}}" mat-stroked-button color="primary">
          <mat-icon>pageview</mat-icon>View
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
