<mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
<mat-card class="pattern-card mat-elevation-z5">
  <mat-card-header (mouseenter)="showActionButtons = true" (mouseleave)="showActionButtons = false">
    <pp-action-button-bar [displayText]="pattern?.name" [firstAddButton]="false"
                          [iconEdit]="true"
                          [iconUrl]="pattern?.iconUrl" (iconEditClicked)="editIcon()">
    </pp-action-button-bar>
      <button mat-stroked-button style="margin-left: 5px" color="primary" *ngIf="showActionButtons && isEditingEnabled"
                     (click)="editIcon()" matTooltip="Edit"><i class="material-icons">mode_edit</i></button>
  </mat-card-header>

  <button class="tags" mat-stroked-button color="primary" *ngIf="isEditingEnabled && pattern && (pattern.category == undefined || pattern.category.length == 0)"
                     (click)="editCategory()" matTooltip="Add Category"><i class="material-icons">add</i></button>

  <div class="tags" *ngIf="pattern && pattern.category" (mouseenter)="showCategoryButtons = true" (mouseleave)="showCategoryButtons = false">
    <mat-chip color="primary" selected>{{pattern.category}}</mat-chip>
    <button mat-stroked-button style="margin-left: 5px" color="primary" *ngIf="showCategoryButtons && isEditingEnabled"
                     (click)="editCategory()" matTooltip="Edit"><i class="material-icons">mode_edit</i></button>
  </div>

  <span class="copyright" *ngIf="pattern?.paperRef"> <i class="material-icons">copyright</i>
    <!--    Display either a textual reference for yet unpublished papers or a html link -->
    {{pattern?.paperRef.startsWith('http') ?
      "The original publication of this pattern can be found in&nbsp;" :
      "This pattern is originally published in " + pattern?.paperRef}}
    <a *ngIf="pattern?.paperRef.startsWith('http')" href="{{pattern?.paperRef}}">here</a>
  </span>
  <div>
    <ng-template ppPatternProperty></ng-template>
  </div>
  <mat-card *ngIf="!isLoading && (pattern.patternImplementations && pattern.patternImplementations.length > 0 || isEditingEnabled)" 
    class="section-card" (mouseenter)="showImplementationEdit = true" (mouseleave)="showImplementationEdit = false">
    <mat-card-header>
      <mat-card-subtitle style="display: flex;
     align-items: flex-start;"><b>Implementations</b></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngFor="let implementation of pattern.patternImplementations">
        <div class="implementation-box" >
          <div>
            <p class="implementation-type">
              {{implementation.type}}
            </p>
            <a href="{{implementation.link}}" target="_blank">
              {{implementation.link}}
            </a>
          </div>
          <button mat-stroked-button style="margin-right: 5px" color="primary" *ngIf="isEditingEnabled && showImplementationEdit"
          (click)="editImplementation(implementation)" matTooltip="Edit"><i class="material-icons">mode_edit</i></button>
          <button (click)="deleteImplementation(implementation)" *ngIf="isEditingEnabled && showImplementationEdit"
          mat-raised-button color="warn" aria-label="Delete">
            <i class="material-icons">delete</i>
          </button>
        </div>
      </ng-container>
    </mat-card-content>
    <button mat-stroked-button color="primary" *ngIf="isEditingEnabled"
    (click)="addImplementation()" matTooltip="Add Implementation"><i class="material-icons">add</i></button>
  </mat-card>
  <mat-card *ngIf="!isLoading" class="section-card">
    <mat-card-header>
      <mat-card-subtitle style="display: flex;
     align-items: flex-start;"><b>Relations to other Patterns</b></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="directedPatternRelations?.length > 0">
        <ng-container *ngFor="let relation of directedPatternRelations">
          <p class="horiz-centered">
            <a [routerLink]="['../..', relation.sourcePatternLanguageId, relation.sourcePatternId]">{{ relation?.sourcePatternName}}</a>
            <span *ngIf="relation?.type" class="horiz-centered">
                            <i class="material-icons">remove</i>{{relation?.type}}
                        </span>
            <i class="material-icons">trending_flat</i>
            <a [routerLink]="['../..', relation.targetPatternLanguageId, relation.targetPatternId]">{{ relation?.targetPatternName}}</a>
            <i>{{relation?.description ? ': ' + relation?.description : ''}}</i>
          </p>
          <br/>
        </ng-container>
      </div>
      <div *ngIf="undirectedPatternRelations?.length > 0">
        <ng-container *ngFor="let relation of undirectedPatternRelations">
          <p class="horiz-centered">
            <a [routerLink]="['../..', relation.pattern1PatternLanguageId, relation.pattern1Id]">{{ relation?.pattern1Name}}</a>
            <span *ngIf="!relation?.type"><i class="material-icons">compare_arrows</i></span>
            <span *ngIf="relation?.type" class="horiz-centered"><i
              class="material-icons flip">trending_flat</i>{{relation?.type}}
              <i class="material-icons">trending_flat</i></span>
            <a [routerLink]="['../..', relation.pattern2PatternLanguageId, relation.pattern2Id]">{{ relation?.pattern2Name}}</a>
            <i>{{relation?.description ? ': ' + relation?.description : ''}}</i>
          </p>
          <br/>
        </ng-container>
      </div>
      <div *ngIf="undirectedPatternRelations?.length === 0 && directedPatternRelations?.length === 0">
        <p> No links found for this pattern.</p>
      </div>
      <mat-card-actions>
        <div style="display: flex; align-items: center;">
          <button (click)="addLink()"
                  *ngIf="isEditingEnabled"
                  color="primary"
                  mat-stroked-button
                  matTooltip="Add Relation"
                  style="margin-left: 5px">
            <i class="material-icons">trending_flat</i>
            <i class="material-icons" style="height: 2em;
    font-size: smaller;  ">add</i>
          </button>
        </div>
      </mat-card-actions>
    </mat-card-content>

  </mat-card>
  <div class="tags" *ngIf="tags" (mouseenter)="showTagsButtons = true" (mouseleave)="showTagsButtons = false">
    <mat-chip-list>
      <mat-chip *ngFor="let tag of tags">{{tag}}</mat-chip>
    </mat-chip-list>
    <button mat-stroked-button style="margin-left: 5px" color="primary" *ngIf="showTagsButtons && isEditingEnabled"
                     (click)="editTags()" matTooltip="Edit"><i class="material-icons">mode_edit</i></button>
  </div>

  <button class="tags" mat-stroked-button color="primary" *ngIf="isEditingEnabled && pattern && (pattern.tags == undefined || pattern.tags.length == 0)"
  (click)="editTags()" matTooltip="Add Tags"><i class="material-icons">add</i></button>

</mat-card>
<pp-creative-license-footer *ngIf="pattern && patternLanguage"
                            [patternLanguage]="patternLanguage"></pp-creative-license-footer>
