.mat-card {
  min-height: fit-content;
  margin-top: 6px;
}

.container {
  margin: 0;
  display: grid;
  column-gap: 8px;
  grid-template-columns: auto 70px;
  grid-template-rows: auto;
}

.wrapper-user {
  grid-area: 1 / 1 / 1 / 1;
  justify-self: start;
  font-size: 13px;
  color: #808080;
}

.wrapper-input {
  grid-area: 2 / 1 / 2 / 1;
}

.wrapper-buttons {
  grid-area: 3 / 1 / 3 / 1;
}

button {
  margin-right: 10px;
}

.wrapper-rating {
  grid-area: 1 / 2 / 3 / 2;
  align-self: center;
  justify-self: center;
}
