<mat-button-toggle-group #group="matButtonToggleGroup" (change)="emitValueChange(group.value)"
                         [value]="graphVisible"
                         appearance="legacy"
                         style="font-size: small; height: 35px; align-items: center;" class="action-button-with-margin">
  <mat-button-toggle [checked]="true" [value]="false" aria-label="Text align center" mat-raised-button>
    Cards
  </mat-button-toggle>
  <mat-button-toggle [value]="true" aria-label="Text align left" mat-raised-button>
    Graph
  </mat-button-toggle>
</mat-button-toggle-group>
