<div class="container">

    <div class="list">
        <button class="new-button" mat-raised-button color="accent" (click)="new()">New Pattern Evolution</button>
        <mat-list>

            <mat-list-item *ngFor="let patternEvolution of data" (click)="toggleDetail(patternEvolution)">
                <h3 matLine> {{patternEvolution.name}} </h3>
                <p matLine> {{patternEvolution.description}} </p>
                <p matLine> Rating {{patternEvolution.rating}} </p>
            </mat-list-item>
        </mat-list>
    </div>
    <pattern-evolution-detail class="detail" [patternEvolution]="patterEvolutionDetail" (changed)="change()">

    </pattern-evolution-detail>
</div>