<button mat-icon-button class="close-button" (click)="closeDialog2()">
	<mat-icon class="close-icon" >close</mat-icon>
</button>
<div mat-dialog-content>
	<mat-form-field id="type-field" class="action-button-with-margin" [floatLabel]="'always'">
		<mat-label>Input the known Information</mat-label>
		<textarea matInput placeholder="Type in information" [formControl]="inputfield" cdkFocusInitial></textarea>
    </mat-form-field>
</div>
<div mat-dialog-content *ngIf="showRephrasedInput">
	<p>Rephrased input: {{rephrasedInput}} </p>
</div>
<div mat-dialog-content *ngIf="showMatchingResults">
	<p>The best matching algorithm with cosine similarity is <span class="resultLink"(click)="openLink()">{{resultAlgorithm.name}}</span>. </p>
	<p>The Cosine Similarity is <span class="similarityvalue">{{resultAlgorithm.cosineSimilarity}}</span> </p>  
</div>
<div>
	<mat-form-field *ngIf="showMatchingResults">
		<mat-label>Number of displayed algorithms</mat-label>
		<mat-select [(value)]="selectednumber" (selectionChange)="numberChanged()">
			<mat-option *ngFor="let number of numbers" [value]="number">{{number}}</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div>
	<mat-table #table [dataSource]="tabledata" *ngIf="showMatchingResults">
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
			<mat-cell *matCellDef="let result"> <span class="resultLink"(click)="openLink2(result.name)">{{result.name}}</span> </mat-cell>
		</ng-container>
		<ng-container matColumnDef="cosineSimilarity">
			<mat-header-cell *matHeaderCellDef> Cosine similarity </mat-header-cell>
			<mat-cell *matCellDef="let result"> {{result.cosineSimilarity}} </mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
		<mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
	</mat-table>
</div>
<div mat-dialog-actions>
	<button class="action-button-with-margin" (click)="closeDialog2()" mat-raised-button >
		<i class="material-icons"></i> close
	</button>
    <button class="action-button-with-margin" (click)="extractInformation(false) "mat-raised-button>
		<i class="material-icons"></i> start textmatching
	</button>
	<button class="action-button-with-margin" (click)="extractInformation(true) "mat-raised-button>
		<i class="material-icons"></i> start textmatching with rake
	</button>
    <section class="testsection">
	<input type="checkbox" class="example-margin" [checked]="checked" (change)="checkboxClicked($event)">rephrase Problem using OpenAI
	</section>
</div>
<style>
.resultLink {
cursor: pointer;
color: blue;
}

.resultLink:hover {
opacity: 0.9;
color: pink;
text-decoration: underline;
}

.similarityvalue {
color: red;
}

.example-margin:hover {
color: blue;
}

</style>
