.info {
    width: 350px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    background: rgba(255, 255, 255, 0.7);
}

.headline {
    padding-bottom: 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;

    h1 {
        padding: 0;
        margin: 0;
    }

    p {
        padding: 0;
        margin: 0;
        font-style: italic;
    }
}

.related {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: lightgrey;

    ul {
        margin: 10px;
        padding-left: 10px;
    }

    li {
        padding-bottom: 3px;
    }
}