<pp-action-button-bar [goBackButton]="false"
                      [addButtonText]="'Add Design Model'"
                      (addClicked)="addDesignModel()">
</pp-action-button-bar>


<div class="container">
  <mat-card *ngFor="let designModel of designModelResponse?._embedded?.designModels"
            class="landing-card">
    <mat-card-header>
      <img mat-card-avatar (click)="navigate(designModel)" [src]="designModel?.logo || '//via.placeholder.com/50x50'"
           alt=""/>

      <mat-card-title (click)="navigate(designModel)">
        {{designModel.name}}
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image (click)="navigate(designModel)" [src]="designModel?.logo || '//via.placeholder.com/200x300'"
         alt=""/>

    <mat-card-actions>
      <div style="text-align: center">
        <button mat-stroked-button color="primary"
                (click)="navigate(designModel)" aria-label="View"><i class="material-icons">pageview</i> View
        </button>
        <button (click)="delete(designModel)" class="pattern-button" mat-stroked-button style="margin-left: 25px"
                color="warn" aria-label="Delete">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
