.mat-card-title {
  width: 10rem;
  word-break: break-word;
}

.mat-card-title {
  width: 10rem;
  word-break: break-word;
  cursor: pointer;
}

.mat-card-image {
  cursor: pointer;
}

.mat-card-avatar {
  cursor: pointer;
}
