.toolbar {
    margin-bottom: 20px;

    button {
        margin-right: 16px;
    }
}

.back_button {
    /*vertical-align: top;
    margin-top: 5px;*/
}

.filter_nodes {
    margin-left: 16px;
    /*float: right;*/
    font-size: 16pt;
}