<mat-card *ngIf="showSection || editingFromConfigServer" class="section-card">
  <mat-card-header>
    <mat-card-subtitle><b>{{title}}</b></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div style="display: flex; align-items: center;" (mouseenter)="showActionButtons = true"
         (mouseleave)="showActionButtons = false" id="{{title}}">

      <div style="word-break: break-word" #markdownContent></div>


      <button *ngIf="showActionButtons && isEditingEnabled && editingFromConfigServer" mat-stroked-button
              style="margin-left: 5px" color="primary"
              (click)="openEditor()" matTooltip="Edit" aria-label="Edit"><i class="material-icons">mode_edit</i></button>
      <button *ngIf="showActionButtons && showCommentButton && editingFromConfigServer" mat-stroked-button
              style="margin-left: 5px" color="primary"
              (click)="commentSVG()" matTooltip="Comment Picture" aria-label="Comment"><i class="material-icons">comment</i></button>
    </div>
  </mat-card-content>
</mat-card>
