<div [ngClass]="row ? 'container-row' : 'container-column'">
    <button mat-flat-button type="button" [color]="colorUp" (click)="click(1); $event.stopPropagation();" [disabled]="!(auth.user | async) || disabled">
        <mat-icon>arrow_upward</mat-icon>
    </button>
    <span class="rating">{{total}}</span>
    <button mat-flat-button type="button" [color]="colorDown" (click)="click(-1); $event.stopPropagation();" [disabled]="!(auth.user | async) || disabled">
        <mat-icon>arrow_downward</mat-icon>
    </button>
</div>
