.container-row {
    // padding-top: 16px;
    border-style: groove;
    width: 100%;
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    .rating {
        padding: 0px 16px;
    }
}

.container-column {
    // padding-top: 16px;
    border-style: groove;
    width: 100%;
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    .rating {
        padding: 8px 0px;
        text-align: center;
    }
}