<div [ngClass]="row ? 'container-row' : 'container-column'">
    <button mat-flat-button type="button" [color]="colorUp" (click)="click(1)" [disabled]="!(auth.user | async) || disabled">
        <mat-icon>arrow_upward</mat-icon>
    </button>
    <span *ngIf="upVotes && downVotes; else elseBlock"  class="rating"> {{upVotes.length - downVotes.length}} </span>
    <ng-template #elseBlock><span class="rating"> - </span></ng-template>
    <button mat-flat-button type="button" [color]="colorDown" (click)="click(-1)" [disabled]="!(auth.user | async) || disabled">
        <mat-icon>arrow_downward</mat-icon>
    </button>
</div>