<pp-action-button-bar [addButtonText]="'Add patterns'" [secondAddButton]="true"
                      [secondAddButtonText]="'Create new Link'" [displayText]="displayText"
                      (addClicked)="addPatternToView()" (add2Clicked)="addLink()">
    <pp-toggle-renderer [graphVisible]="graphVisible" (toggledRenderer)="changeRenderer($event)"></pp-toggle-renderer>
    <button style="margin-left: 10px;" (click)="reloadGraph()" *ngIf="graphVisible" color="accent" mat-raised-button>
        <i class="material-icons">autorenew</i> Reformat
    </button>
</pp-action-button-bar>

<div class="container" *ngIf="!isLoading && !graphVisible">

    <mat-card class="pattern-card" *ngFor="let pattern of patterns">
        <mat-card-header>
            <mat-card-title>{{pattern?.name}}</mat-card-title>
            <mat-card-subtitle>Pattern


            </mat-card-subtitle>

        </mat-card-header>

        <mat-card-content>
            <span class="badge-span" matBadgeOverlap="false"
                  [matBadge]="getLinkCount(pattern._links.ingoingDirectedEdges)">
                <mat-icon> trending_flat
            </mat-icon>
        </span>
            <mat-icon class="flip"> trending_flat
            </mat-icon>
            <span class="badge-span" matBadgeOverlap="false"
                  [matBadge]="getLinkCount(pattern._links.outgoingDirectedEdges)">
        </span>


            <span [matBadge]="getLinkCount(pattern._links.undirectedEdges)" matBadgeOverlap="false">
                 <mat-icon>compare_arrows</mat-icon>
                </span>

        </mat-card-content>
        <mat-card-actions
        >
            <button mat-button (click)="addLinks(pattern)">Add Links (incl. Pattern)
            </button>
            <button *ngIf="pattern._links.ingoingDirectedEdges || pattern._links.outgoingDirectedEdges" mat-button (click)="removeLink(pattern)">Remove Links
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<pp-graph-display *ngIf="!isLoading && graphVisible"
                  [data]="{
                patterns: this.patterns, edges: this.patternLinks,
                patternLanguage: null, patternView: this.patternViewResponse
            }"
                  (addedEdge)="addedEdgeInGraphView($event)"></pp-graph-display>


