.pattern-card {
<<<<<<< HEAD
  min-height: 11em;
  height: 11em;
=======
  min-height: 13em;
  height: 13em;
>>>>>>> origin
  min-width: 13em;
  width: 13em;
  margin: 0.25em;
}


.container {
  display: flex;
}

.edge-button {
  width: 4em!important;
  min-width: unset!important;
}
