<pp-action-button-bar [firstAddButton]="false">
  <button mat-raised-button class="action-button-with-margin" (click)="reloadGraph()" color="accent">
    <mat-icon>autorenew</mat-icon>
    Reload
  </button>

  <button mat-raised-button class="action-button-with-margin" (click)="toggleShowConcreteSolutions()" color="accent">
    <mat-icon>handyman</mat-icon>
    {{showConcreteSolutions ? 'Hide' : 'Show'}} Concrete Solutions
  </button>

  <div *ngIf="showConcreteSolutions">
    <mat-form-field class="user-query-input">
      <input matInput [formControl]="userQueryInput" placeholder="User query"/>
      <mat-error *ngIf="userQueryInput.hasError('invalidSyntax')">
        Syntax error, please check your query.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button class="action-button-with-margin" (click)="aggregateConcreteSolutions()" color="accent">
      <mat-icon>handyman</mat-icon>
      Aggregate Concrete Solutions
    </button>
  </div>
</pp-action-button-bar>

<pp-graph-display *ngIf="!isLoading"
                  [data]="graphData"
                  (addedEdge)="addedEdgeInGraphView($event)"
                  (removedEdge)="removedEdgeInGraphView($event)"
                  [showPatternLanguageName]="true"
                  [enableDeletePattern]="true"
                  [showConcreteSolutions]="showConcreteSolutions"
                  [concreteSolutions]="concreteSolutions"
                  (deletePatternEvent)="deletePatternInstance($event)"
                  (updatedGraphEvent)="reloadGraph()"
                  (aggregationAssignmentsUpdate)="aggregationAssignmentsUpdate($event)">
</pp-graph-display>
