<mat-card>
  <p><b>{{title}}</b></p>
  <div style="display: flex; align-items: center;" (mouseenter)="showActionButtons = true"
       (mouseleave)="showActionButtons = false">
    <mat-form-field><input matInput [formControl]="date" [matDatepicker]="picker" >
      <mat-datepicker-toggle *ngIf="isEditingEnabled" matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker></mat-form-field>
    <ngx-md [data]="data" hidden></ngx-md>
    <button *ngIf="showActionButtons" mat-stroked-button
            style="margin-left: 5px" color="primary"
            (click)="openEditor()" matTooltip="Edit"><i class="material-icons">mode_edit</i></button>
  </div>
</mat-card>
