<h2>
  Create a new Patternlanguage
</h2>
<h3>Start by defining your structure: </h3>
<mat-grid-list cols="2">
  <mat-grid-tile>
    <td-text-editor class="markdownEditor" [(value)]="patternLanguageStructure" [options]="options" #textEditor
                    id="textEditor"></td-text-editor>
  </mat-grid-tile>
  <mat-grid-tile class="preview-tile">

    <div fxLayout="column" fxLayoutAlign="space-around center">
      <mat-card>
        <div id="preview"></div>
      </mat-card>
      <button (click)="save()" class="save-button" mat-raised-button color="accent" style="float: right"><i
        class="material-icons">save</i>Save
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
