<!-- <div *ngIf="user"> -->
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="container">

  <mat-form-field>
    <input matInput placeholder="Username" formControlName="name" required/>
    <mat-error *ngIf="!userForm.get('name').valid">Username is required</mat-error>
    <mat-hint align="start">A custom name for the user</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="E-Mail" formControlName="email" required/>
    <mat-error *ngIf="!userForm.get('email').valid">E-Mail is required</mat-error>
    <mat-hint align="start">e-mail address for the user to later login</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="New password" formControlName="password" required>
    <mat-error *ngIf="!userForm.get('password').valid">
      Please enter your new password
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Confirm password" formControlName="confirmPassword">
    <!-- <mat-error *ngIf="userForm.hasError('notSame')"> -->
    <mat-error *ngIf="!userForm.get('confirmPassword').valid">
      Passwords do not match
    </mat-error>
  </mat-form-field>

  <mat-button-toggle-group multiple="true" formControlName="userRoles">
    <mat-button-toggle *ngFor="let role of roles" [value]="role">{{role}}</mat-button-toggle>
  </mat-button-toggle-group>


  <!-- <button mat-flat-button type="submit" color="primary">Save</button> -->

  <button mat-flat-button type="button" color="warn" (click)="reset()">Reset</button>
  <button mat-flat-button type="button" color="primary" (click)="exit()">Exit</button>
  <button mat-flat-button type="submit" color="primary" [disabled]="!userForm.valid">Save</button>
</form>
<!-- </div> -->
