.container {
    // padding-top: 16px;
    border-style: groove;
    width: 100%;
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}