<mat-progress-spinner mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>
<mat-sidenav-container class="container" [hasBackdrop]="false">
    <mat-sidenav #start mode="over" fixedInViewport="true">
        <p>{{currentPattern?.name}}</p>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let relation of currentEdges">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{relation?.edge.type}}
                    </mat-panel-title>
                    <mat-panel-description>
                        <div [ngSwitch]="relation.type">
                            <div *ngSwitchCase="'outgoingDirectedEdges'" class="horiz-centered">
                                <i class="material-icons">trending_flat</i>
                                {{ relation?.edge.targetPatternName}}

                            </div>
                            <div *ngSwitchCase="'ingoingDirectedEdges'" class="horiz-centered">
                                <i class="material-icons flip">trending_flat</i>
                                {{ relation?.edge.sourcePatternName}}
                            </div>
                            <div *ngSwitchCase="'undirectedEdges'" class="horiz-centered">
                                {{ relation?.edge.sourcePatternName}}
                                <i class="material-icons flip">compare_arrows</i>
                                {{ relation?.edge.p1Id === this.currentPattern.id ? relation.edge.pattern1Name : relation.edge.pattern2Name}}
                            </div>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <i>{{relation?.edge.description ? ': ' + relation?.edge.description : ''}}</i>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-sidenav>
    <mat-sidenav-content>
        <network-graph #graphWrapper classes="" mode="layout" zoom="both"
                       classes="highlighted-node highlighted-edge low-opacity-node low-opacity-edge"
                       style="width: 100%; height: 100%" [ppGraphEventEmmiter] (onAddedEdge)="edgeAdded($event)"
                       (onClickedBackground)="backgroundClicked($event)"
                       (onNodePositionChange)="saveGraph()"
                       (onClickedNode)="nodeClicked($event)"
        >
            <style slot="style">
                svg {
                    width: 1000px;
                    height: 700px;
                }
            </style>
            <svg slot="graph" #svg>
                <style>
                    .node {
                        fill: aliceblue;
                        opacity: 0.95;
                    }

                    svg {
                        background-color: white;
                    }

                    .link-handle {
                        display: none;

                        fill: black;
                        opacity: 0.1;
                        transition: opacity 0.25s ease-out;
                    }

                    .node.hovered {
                        fill: rgb(63, 81, 181);
                        opacity: 0.9;
                        color: white;
                    }

                    .edge-group .link-handle {
                        display: initial;
                    }


                    .low-opacity-edge {
                        stroke: grey;
                    }

                    .link-handle:hover {
                        opacity: 0.7;
                    }

                    .hovered .link-handle {
                        display: initial;
                    }

                    .text {
                        fill: black;
                        font-size: 6pt;
                        text-overflow: ellipsis;
                        word-break: break-word
                    }

                    .highlighted-node {
                        fill: rgb(63, 81, 181);
                        opacity: 0.9;

                    .text {
                        color: white;
                    }

                    }

                    .low-opacity-node {
                        opacity: 0.1;
                    }

                    .low-opacity-edge {
                        opacity: 0.1;
                    }


                </style>
                <defs>

                    <g id="default" data-template-type="node">

                        <rect x="-50" y="-20" width="100" height="40" rx="5" ry="5"
                              style="stroke:black;stroke-width:1;"
                              data-link-handles="edges" data-click="nodeclick">
                        </rect>
                        <a data-href="link">
                            <image x="35" y="-15" width="10" data-content="link"
                                   xlink:href="assets/Info_Simple_bw.svg"/>
                        </a>
                        <text class="text" x="0" y="0" width="100" height="40" data-content="title"
                              data-click="title"
                              dominant-baseline="middle"
                              text-anchor="middle">
                        </text>
                    </g>

                    <g id="arrow" data-template-type="marker" data-line-attachement-point="-9 0">
                        <path d="M -9 -4 L 0 0 L -9 4 z"/>
                    </g>
                </defs>
            </svg>
        </network-graph>
    </mat-sidenav-content>
</mat-sidenav-container>
