<network-graph #graphWrapper classes="red blue" mode="layout" zoom="both"
               style="width: 100%; height: 100%"
>
  <style slot="style">
    svg {
      width: 1450px;
      height: 600px;
    }
  </style>
  <svg slot="graph" #svg>
    <style>
      .node {
        fill: lightgray;
      }

      .link-handle {
        display: none;
        fill: black;
        opacity: 0.1;
        transition: opacity 0.25s ease-out;
      }

      .edge-group .link-handle {
        display: initial
      }

      .link-handle:hover {
        opacity: 0.7;
      }

      .hovered .link-handle {
        display: initial;
      }

      .text {
        fill: black;
      }
    </style>
    <defs>
      <g id="default" data-template-type="node">
        <rect x="-20" y="-8" width="100" height="40">

        </rect>
        <text class="text" data-content="title" x="-18" y="5" width="100" data-wrapped="true" height="40"></text>

      </g>
    </defs>
  </svg>
</network-graph>
