<div class="card-container">
    <mat-card *ngFor="let entity of uriEntities"
              class="card box">
        <mat-card-title (click)="navigate(entity)" style="margin-bottom: 1rem">{{entity.name}}</mat-card-title>
        <mat-card-content>
            <img mat-card-image *ngIf="entity.iconUrl else noimage" [src]="entity.iconUrl">
            <ng-template #noimage><img mat-card-image src="//via.placeholder.com/350x150"></ng-template>
        </mat-card-content>
        <mat-card-footer *ngIf="showLinks">
  <mat-card *ngFor="let entity of uriEntities"
            class="card box">
    <mat-card-title (click)="navigate(entity)"> {{entity.name}}</mat-card-title>
    <mat-card-content>
      <img mat-card-image *ngIf="entity.iconUrl else noimage" [src]="entity.iconUrl">
      <ng-template #noimage><img mat-card-image src="//via.placeholder.com/350x150"></ng-template>
      <button (click)="delete(entity)" class="save-button" mat-raised-button color="warn">
        <i class="material-icons">delete</i>Delete
      </button>
    </mat-card-content>
    <mat-card-footer>
            <span [matBadge]="getLinkCount(entity._links.ingoingDirectedEdges)"
                  class="badge-span"
                  matBadgeOverlap="false">
                <mat-icon>trending_flat</mat-icon>
            </span>
      <mat-icon class="flip">trending_flat</mat-icon>
      <span [matBadge]="getLinkCount(entity._links.outgoingDirectedEdges)"
            class="badge-span"
            matBadgeOverlap="false">
            </span>
      <span [matBadge]="getLinkCount(entity._links.undirectedEdges)" matBadgeOverlap="false">
                <mat-icon>compare_arrows</mat-icon>
            </span>
    </mat-card-footer>
  </mat-card>
</div>
