.card {
  width: 10em;
  height: 16em;


  &:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
  }


}

.mat-card {
  display: flex;
  flex-direction: column;
}


.mat-card-image {
  object-fit: scale-down;
}

.mat-card-footer {
  padding: 16px;
}
