<div class="container" #cardsView>
    <mat-card class="landing-card " *ngFor="let entity of uriEntities">
        <mat-card-header>
            <mat-card-title>
                <b>{{entity.name}}</b>

            </mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <div style="text-align: center">
                <button mat-stroked-button color="primary" (click)="navigate(entity)"><i
                        class="material-icons">pageview</i>View
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
