<pp-action-button-bar [addButtonText]="'Add'" [goBackButton]="false" [reloadButton]="true"
    (addClicked)="createCandidate()" (reloadClicked)="getAll()"></pp-action-button-bar>
<mat-accordion *ngFor="let language of patternLanguages">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{language.name}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container">
            <ng-container *ngFor="let candidate of candidates">
                <mat-card class="landing-card" *ngIf="(candidate.patternLanguageId == language.id)">
                    <mat-card-header>
                        <mat-card-title>{{ candidate.name }}</mat-card-title>
                        <mat-card-subtitle> Language: {{candidate.patternLanguageName}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="//via.placeholder.com/200x300" alt="Placholder image">
                    <mat-card-content>
                        <p>
                            {{ candidate.content }}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-flat-button color="primary" type="button" (click)="candidateDetail(candidate)"
                            matTooltip="Open candidate">
                            <mat-icon>launch</mat-icon>
                            Detail
                        </button>&nbsp;
                        <button mat-flat-button color="primary" type="button" (click)="candidateDetail(candidate)"
                            matTooltip="Edit candidate">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>&nbsp;
                    </mat-card-actions>
                </mat-card>
            </ng-container>
        </div>
    </mat-expansion-panel>
</mat-accordion>
