<pp-action-button-bar [addButtonText]="'Add'" [goBackButton]="false" [reloadButton]="true"
    (addClicked)="new()" (reloadClicked)="getAll()" [firstAddPrivilegeName]="'PATTERN_CANDIDATE_CREATE'"></pp-action-button-bar>
<mat-accordion multi="false" *ngFor="let language of patternLanguages">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>{{language.name}}</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container">
            <ng-container *ngFor="let candidate of candidates">
                <mat-card  *ngIf="(candidate.patternLanguageId == language.id)">
                    <!-- <mat-card-header> -->
                        <mat-card-title>{{ candidate.name }}</mat-card-title>
                        <mat-card-subtitle> Language: {{candidate.patternLanguageName}}</mat-card-subtitle>
                    <!-- </mat-card-header> -->
                    <!-- <img mat-card-image src="//via.placeholder.com/200x300" alt="Placholder image"> -->
                    <mat-card-content>
                        <p>
                            {{ candidate.content['Context'] }}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-flat-button color="primary" type="button" (click)="detail(candidate)"
                            matTooltip="Open candidate">
                            <mat-icon>launch</mat-icon>
                            Detail
                        </button>&nbsp;
                        <button mat-flat-button color="accent" type="button" (click)="edit(candidate)" [disabled]="!(p.isGroubMember(candidate.authors, 'PATTERN_CANDIDATE_EDIT_ALL') | async)"
                            matTooltip="Edit candidate">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>&nbsp;
                    </mat-card-actions>
                </mat-card>
            </ng-container>
        </div>
    </mat-expansion-panel>
</mat-accordion>
