.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;

}

.add-prefix-form {
  .mat-form-field {
    margin: 0 0.5em;
  }

  #new-prefix {
    width: 4em;
  }
}

.icon-wrapper {
  margin-top: -1.34375em !important;
}

.label-preview {
  color: #808080;
}

.mat-chip {
  height: fit-content;
}

.min-max-width {
  width: 3em;
}

.mat-form-field {
  width: 24em;
}
