<div style="display: flex; justify-content: space-between; align-items: baseline">
  <h1 mat-dialog-title>Create {{dialogTitle}}</h1>
  <button mat-flat-button (click)="close()" tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content [formGroup]="patternLanguageForm">
  <div fxLayout="column" fxLayoutAlign="space-around start">
    <mat-card fxLayout="column" fxLayoutAlign="space-around" style="margin: 10px;">
      <mat-form-field appearance="outline" [floatLabel]="'always'">
        <mat-label>{{dialogTitle}} name</mat-label>
        <input matInput formControlName="name"
               placeholder="Enter the name of the {{dialogTitle}}">
        <mat-error *ngIf="saveRequested && name?.hasError('required')">
          This field is mandatory.
        </mat-error>
        <mat-error *ngIf="saveRequested && name?.hasError('pattern')">
          Please use only alphanumeric characters, _ and spaces.
        </mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field class="full-width" appearance="outline" [floatLabel]="'always'">
          <mat-label>Icon URL</mat-label>
          <input matInput formControlName="iconUrl" placeholder="Enter URL of Icon" type="url">
          <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="iconPreviewVisible">
            <span class="label-preview">Icon-Preview: </span>
            <div mat-card-avatar #iconPreview
                 [ngStyle]="{ 'background-image': 'url(' + iconUrl?.value + ')'}"
                 class="example-header-image"></div>
          </div>
          <mat-error *ngIf="saveRequested && iconUrl?.hasError('required')">
            This field is mandatory.
          </mat-error>
          <mat-error *ngIf="saveRequested && iconUrl?.hasError('pattern')">
            Please insert a valid URL.
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="isPatternLanguageDialog">
        <h3>Sections</h3>
        <mat-form-field appearance="outline" [floatLabel]="'always'">
          <mat-label>New Section</mat-label>
          <input #sectionInput (keyup.enter)="addSection(sectionInput.value)" matInput
                 placeholder="Type new section name and hit enter..." [formControl]="sectionCtrl">
        </mat-form-field>
        <mat-list matRipple cdkDropList [cdkDropListData]="sections"
                  [cdkDropListOrientation]="'vertical'"
                  (cdkDropListDropped)="dropSection($event)">
          <mat-list-item matRipple *ngFor="let section of sections; last as last; let i = index" cdkDrag>
            {{i + 1}}&nbsp;{{section}}
            <button mat-button color="warn" (click)="removeSection(section)">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card>

  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="close()">
    <mat-icon>close</mat-icon>
    Close
  </button>
  <button mat-raised-button color="primary" (click)="save()">
    <mat-icon>save</mat-icon>
    Save {{dialogTitle}}
  </button>
</div>
