.card {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #3f51b5;
  color: #fff;

  &:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }

  span {
    margin: auto;
  }
}

.mat-card-title {
  width: 10rem;
  word-break: break-word;
  cursor: pointer;
}

.mat-card-image {
  cursor: pointer;
}

.mat-card-avatar {
  cursor: pointer;
}
