<div class="container">
    <div class="container-comment">
        <mat-form-field appearance="standard">
            <mat-label>Comment</mat-label>
            <textarea matInput [(ngModel)]="comment" name="comment"></textarea>
        </mat-form-field>
        <div>
            <button mat-flat-button mat-flat-button type="button" color="" (click)="cancelComment()">Cancel </button>
            <button mat-flat-button mat-flat-button type="button" color="primary" (click)="addComment()">Comment
            </button>
        </div>
    </div>
    <mat-list>
        <mat-list-item *ngFor="let comment of data" (click)="toggleDetail(issueDetail)">
            <div class="container-text">
                <p matLine> {{comment.id}} </p>
                <p matLine> {{comment.text}} </p>
                <p matLine> Rating {{comment.user}} </p>
            </div>
            <div class="container-rating">
                <pp-rating [row]="false" [rating]="0"></pp-rating>
            </div>
        </mat-list-item>
    </mat-list>
</div>