.container-new-comment {
  box-sizing: border-box;
  height: 100%;
}

.new-comment-buttons {
  display: inline-block;
  width: 100%;
}

button {
  float: right;
  margin-left: 10px;
}

.container-comment-list {
  margin-top: 16px;
  overflow-y: scroll;
  max-height: calc(100% - 99px - 36px - 16px);

  .comment-divider {
    margin-top: 16px;
  }
  
}
