<div style="display: flex; justify-content: space-between; align-items: baseline">
  <h1 mat-dialog-title>Edit '{{data.label}}'</h1>
  <button mat-flat-button (click)="close()" tabindex="-1">
    <i class="material-icons">close</i>
  </button>
</div>
<div mat-dialog-content [formGroup]="selectedPatternForm">
  <mat-form-field appearance="fill">
    <mat-label>Pattern</mat-label>
    <mat-select formControlName="selectedPattern">
      <mat-option *ngFor="let pattern of patterns" [value]="pattern">
        {{pattern.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!selectedPatternForm.controls['selectedPattern'].value"
          (click)="addReference()" matTooltip=" Add Reference to another Pattern">
    Add Reference
  </button>
  <td-text-editor #mdEditor [value]="data.content" [options]="options"></td-text-editor>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn"
          (click)="revert()" matTooltip="Revert Changes">
    <i class="material-icons">restore</i> Revert
  </button>
  <button mat-raised-button color="primary" (click)="saveChanges()"><i
    class="material-icons">save</i> Save
  </button>
</div>

