<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
    <mat-form-field appearance="standard">
        <mat-label>Input</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Issue Description</mat-label>
        <textarea matInput [(ngModel)]="data.description"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>