// eslint-disable-next-line prefer-arrow/prefer-arrow-functions
(function (window) {
  window['env'] = window['env'] || {};

  // Environment variables
  window['env']['CONFIG_SERVER_HOST_NAME'] = '${CONFIG_SERVER_HOST_NAME}';
  window['env']['LATEX_RENDERER_HOST_NAME'] = '${LATEX_RENDERER_HOST_NAME}';
  window['env']['PATTERN_ATLAS_API_HOST_NAME'] = '${PATTERN_ATLAS_API_HOST_NAME}';
  window['env']['CONFIG_SERVER_PORT'] = '${CONFIG_SERVER_PORT}';
  window['env']['LATEX_RENDERER_PORT'] = '${LATEX_RENDERER_PORT}';
  window['env']['PATTERN_ATLAS_API_PORT'] = '${PATTERN_ATLAS_API_PORT}';
  window['env']['URL_SCHEME'] = '${URL_SCHEME}';
  window['env']['AUTH_REALM_URL'] = '${AUTH_REALM_URL}';
})(this);


