<pp-action-button-bar (addClicked)="addLink()" [addButtonText]="'Add Link'" [secondAddButton]="true"
                      [secondAddButtonText]="'Add Pattern'" (add2Clicked)="addPattern()"></pp-action-button-bar>


<h2 style="display: inline">Pattern Language: {{patternLanguage?.name}} </h2>
<mat-button-toggle-group [value]="graphVisible" (change)="toggleRendereringComponent(group.value)"
                         #group="matButtonToggleGroup">
    <mat-button-toggle [value]="false" aria-label="Text align center" [checked]="true">
        Cards
    </mat-button-toggle>
    <mat-button-toggle [value]="true" aria-label="Text align left">
        Graph
    </mat-button-toggle>


</mat-button-toggle-group>

<mat-progress-spinner mode="indeterminate" *ngIf="isLoadingDataForRenderer"></mat-progress-spinner>
<div>
    <ng-template #displayPLContainer></ng-template>
</div>

