<div>
  <svg #svg [attr.viewBox]="'0 0 ' + options.width + ' ' + options.height"
      (click)="deselectNode($event)">
      <g class="links">
          <g [linkVisual]="link" *ngFor="let link of links"></g>
      </g>
      <g class="nodes">
          <g [nodeVisual]="node" *ngFor="let node of nodes" 
              (clickEvent)="nodeInformation(node.id)"
              (mouseEnterEvent)="previewNodeInformation(node.id)"
              (mouseLeaveEvent)="dePreviewNodeInformation(node.id)">
          </g>
      </g>

      <defs>
          <marker id="end" viewBox="0 -5 10 10" refX="15" refY="-1.5" markerWidth="6" markerHeight="6" orient="auto">
              <path d="M0,-5L10,0L0,5"></path>
          </marker>
      </defs>
  </svg>
</div>

<div *ngIf="selectedNodeId">
  <pp-node-infobox 
        [uri]="selectedNodeId"
        (clickEvent)="nodeInformation($event)"
        (mouseEnterEvent)="previewNodeInformation($event)"
        (mouseLeaveEvent)="dePreviewNodeInformation($event)">
  </pp-node-infobox>
</div>