<div *ngIf="data">
  <h1>Filter Patterns</h1> <!-- maybe add patternlanguage name here? -->

  <div class="pattern-options">
    <h2>Pattern Options</h2>
    <!-- input field for every field of the config element -->
    <mat-form-field class="filter-field" *ngFor="let key of objectKeys(data)">
      <input matInput placeholder="{{key}}" [(ngModel)]="data[key]">
    </mat-form-field>
  </div>

  <div class="relation-options">
    <h2>Relation Options</h2>
    <mat-checkbox>Pattern must contain Cross Language Links</mat-checkbox>
  </div>

  <div class="dialog-actions">
    <button mat-flat-button color="primary" (click)="onCloseConfirm()">Apply Filter</button>
    <button mat-stroked-button (click)="onCloseClear()">Clear Values</button>
    <button mat-stroked-button (click)="onCloseCancel()" class="right-button">Cancel</button>
  </div>
</div>