.action-button-with-margin {
  min-width: unset;
  margin-right: 10px;
  margin-left: 10px;
}

.mat-card-image {
  width: auto;
  height: 50px;
  cursor: pointer;
}

.image-with-margin {
  margin-right: 5px;
  margin-left: 15px;
}

