<mat-toolbar style="margin-bottom: 10px">
    <pp-navigate-back *ngIf="goBackButton"></pp-navigate-back>

    <button *ngIf="reloadButton" mat-raised-button color="accent" (click)="reloadButtonClicked()">
        <i class="material-icons">autorenew</i> Reload
    </button>

    <button class="action-button" mat-raised-button color="accent"
            (click)="addButtonClicked()">
        <i class="material-icons">add</i> {{addButtonText}}
    </button>

    <button *ngIf="secondAddButton" class="action-button" mat-raised-button color="accent"
            (click)="secondAddButtonClicked()">
        <i class="material-icons">add</i> {{secondAddButtonText}}
    </button>
</mat-toolbar>


